@{
	ViewData["Title"] = "Inventory";
}

<div class="w-full h-full flex">
	@Html.Partial("_Sidebar", "Inventory")
	<div class="w-full h-full flex flex-col items-center gap-4 bg-gray-100">
		<div class="w-[96%] h-fit flex justify-between items-center mt-8">
			<p class="text-[#2C3E50] font-semibold font-poppins text-5xl">Inventory</p>
			<div class="flex gap-2">
				<button class="flex gap-3 bg-[#2C3E50] justify-center items-center px-12 py-2 rounded">
					<p class="text-white text-xl font-semibold font-poppins tracking-wider m-0">Add</p>
					<img src="../images/WhitePlus.svg" class="h-[18px]" />
				</button>
				<div class="relative inline-block text-left">
					<button id="dropdownBtn" type="button" class="flex gap-3 bg-[#2C3E50] justify-center items-center px-10 py-2 rounded">
						<p class="text-white text-xl font-semibold font-poppins tracking-wider m-0">Create</p>
						<img id="inventoryDropdownArrow" src="../images/whitearrow.svg" class="w-5 h-5 transition-transform duration-100 " />
					</button>

					<div id="dropdownMenu" class="hidden absolute right-0 mt-2 w-full bg-[#2C3E50] rounded-lg shadow-lg z-50">
						<a asp-action="CreateProductView" asp-controller="Inventory" class="block px-4 py-2 hover:rounded-t-lg hover:bg-gray-600">
							<p class="text-white m-0">Product</p>
						</a>
						<a asp-action="CreateCategoryView" asp-controller="Inventory" class="block px-4 py-2 hover:bg-gray-600">
							<p class="text-white m-0">Category</p>
						</a>
						<a asp-action="CreateZone" asp-controller="Inventory" class="block px-4 py-2 hover:rounded-b-lg hover:bg-gray-600">
							<p class="text-white m-0">Zone</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="w-[96%] h-fit flex justify-between gap-3">
			<div class="w-[800px] flex items-center rounded-lg drop-shadow-2xl overflow-hidden">
				<input type="text" class="h-full w-full px-4 py-2 outline-none bg-white caret-[#76b5c5b4] text-[#2C3E50]"/>
				<button class="bg-[#76b5c5] px-4 py-2 text-white">
					<img src="../images/search.svg" class="h-[40px]" />
				</button>
			</div>
			<a class="w-fit h-full flex items-center justify-center drop-shadow-2xl bg-[#76b5c5] px-12 rounded cursor-pointer select-none">
				<p class="font-bold font-poppins text-xl text-white tracking-wider m-0">SORT</p>
			</a>
		</div>
		<div class="w-[96%] h-full bg-white drop-shadow-2xl rounded-tl-lg rounded-tr-lg">
			<table class="w-full text-[#2C3E50] font-poppins">
				<thead>
					<tr class="w-fit bg-[#76b5c554]">
						<th class="w-[500px] tracking-wide py-3 pl-4 rounded-tl-lg">
							<p class="tracking-wide text-[#2C3E50] text-xl font-bold m-0">Name</p>
						</th>
						<th class="w-[150px] py-3">
							<div class="h-full flex gap-2">
								<div class="border-2 border-[#76b5c577] rounded">
								</div>
								<p class="tracking-wide text-[#2C3E50] text-xl font-bold m-0">Zone</p>
							</div>
						</th>
						<th class="w-[400px] tracking-wide py-3 pl-4">
							<div class="h-full flex gap-2">
								<div class="border-2 border-[#76b5c577] rounded">
								</div>
								<p class="tracking-wide text-[#2C3E50] text-xl font-bold m-0">Category</p>
							</div>
						</th>
						<th class="w-[200px] tracking-wide py-3 pl-4">
							<div class="h-full flex gap-2">
								<div class="border-2 border-[#76b5c577] rounded">
								</div>
								<p class="tracking-wide text-[#2C3E50] text-xl font-bold m-0">Price</p>
							</div>
						</th>
						<th class="w-[50px] tracking-wide py-3 rounded-tr-lg">
							<div class="h-full flex gap-2">
								<div class="border-2 border-[#76b5c577] rounded">
								</div>
								<p class="tracking-wide text-[#2C3E50] text-xl font-bold m-0">Quantity</p>
							</div>
						</th>
					</tr>
				</thead>

				<tbody class="bg-white">
					@if (Model != null && Model.Employees.Count != 0)
					{
						@foreach (var employee in Model.Employees)
						{
							@if ((int)@employee.Role != 0)
							{
								<tr onclick="window.location.href='@Url.Action("EditEmployeeView", "System", new { id = employee.EmployeeId })'" class="border-b cursor-pointer hover:bg-gray-100">
									<td class="select-none w-[100px] pl-5 text-[#2C3E50] font-semibold font-poppins text-xl">@employee.EmployeeId</td>
									<td class="select-none w-[500px] text-[#2C3E50] font-semibold font-poppins text-xl">@employee.Name</td>
									<td class="select-none w-[800px] text-[#2C3E50] font-semibold font-poppins text-xl">@employee.Email</td>
									<td class="select-none w-[150px]">
										@{
											var bgColor = "select-none w-fit px-4 py-1 rounded text-[#2C3E50] font-semibold text-center text-xl " +
											((int)employee.Role == 0 ? "bg-[#76b5c5]" :
											(int)employee.Role == 1 ? "bg-[#76b5c5b2]" : "bg-[#76b5c556]");
										}

										<div class="@bgColor">
											@employee.Role
										</div>
									</td>
									<td class="w-[90px] py-3 pl-6">
										@if (employee.IsActive)
										{
											<div class=" w-[25px] h-[25px] rounded-full bg-[#4CAF50]"></div>
										}
										else
										{
											<div class="w-[25px] h-[25px] rounded-full border-[#76b5c5] border-4"></div>
										}
									</td>
								</tr>
							}
							else
							{
								<tr class="border-b">
									<td class="select-none w-[100px] pl-5 text-[#2C3E50] font-semibold font-poppins text-xl">@employee.EmployeeId</td>
									<td class="select-none w-[500px] text-[#2C3E50] font-semibold font-poppins text-xl">@employee.Name</td>
									<td class="select-none w-[800px] text-[#2C3E50] font-semibold font-poppins text-xl">@employee.Email</td>
									<td class="select-none w-[150px]">
										@{
											var bgColor = "select-none w-fit px-4 py-1 rounded text-[#2C3E50] font-semibold text-center text-xl " +
											((int)employee.Role == 0 ? "bg-[#76b5c5]" :
											(int)employee.Role == 1 ? "bg-[#76b5c5b2]" : "bg-[#76b5c556]");
										}

										<div class="@bgColor">
											@employee.Role
										</div>
									</td>
									<td class="w-[90px] py-3 pl-6">
										@if (employee.IsActive)
										{
											<div class=" w-[25px] h-[25px] rounded-full bg-[#4CAF50]"></div>
										}
										else
										{
											<div class="w-[25px] h-[25px] rounded-full border-[#76b5c5] border-4"></div>
										}
									</td>
								</tr>
							}
						}
					}
					else
					{
						<tr><td colspan="5" class="text-[#2C3E50] text-2xl font-semibold font-poppins">No data available.</td></tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>