@{
	ViewData["Title"] = "Employees";
}
@using WarehouseManagementSystem.Models
@model EmployeesPageViewModel

<div class="w-full h-full flex">
	@Html.Partial("_Sidebar", "Employees")
	<div class="w-full h-full flex flex-col items-center gap-4 bg-gray-100">
		<div class="w-[96%] h-fit flex justify-center gap-3 mt-8">
			<div class="w-full flex items-center rounded-lg drop-shadow-2xl overflow-hidden">
				<input type="text" class="h-full w-full px-4 py-2 outline-none caret-[#76b5c5b4] text-[#2C3E50] bg-white" />
				<button class="bg-[#76b5c5] px-4 py-2 text-white">
					<img src="../images/search.svg" class="h-[40px]" />
				</button>
			</div>
			<div class="w-fit h-full flex justify-center items-center gap-3">
				<a class="w-full h-full flex items-center justify-center drop-shadow-2xl bg-[#76b5c5] px-18 rounded-lg">
					<p class="font-bold font-poppins text-xl text-white tracking-wider m-0">SORT</p>
				</a>
				<a asp-action="CreateEmployeeView" asp-controller="System" class="w-full h-full flex items-center justify-center drop-shadow-2xl bg-[#76b5c5] rounded-lg">
					<p class="font-bold font-poppins text-xl text-white tracking-wider px-14 m-0">CREATE</p>
				</a>
			</div>
		</div>
		<div class="w-[96%] h-[86%] bg-white drop-shadow-2xl rounded-lg">
			<p class="text-[#2C3E50] text-3xl font-semibold font-poppins pl-5 pt-4 m-0">Employees</p>
			<div class="rounded-lg px-3 pt-4">
				<table class="w-full text-[#2C3E50] font-poppins">
					<thead>
						<tr class="w-fit bg-[#b0d3dd] text-[#2C3E50] text-xl font-bold">
							<th class="w-[100px] tracking-wide rounded-tl-lg py-3 pl-4">ID</th>
							<th class="w-[500px] tracking-wide py-3">Full Name</th>
							<th class="w-[800px] tracking-wide py-3">Email</th>
							<th class="w-[150px] tracking-wide py-3 pl-4">Job Title</th>
							<th class="w-[90px] tracking-wide py-3">Status</th>
						</tr>
					</thead>

					<tbody class="bg-white">
						@if (Model != null && Model.Employees.Count != 0)
						{
							@foreach (var employee in Model.Employees)
							{
								@if ((int)@employee.Role != 0)
								{
									<tr onclick="window.location.href='@Url.Action("EditEmployeeView", "System", new { id = employee.EmployeeId })'" class="border-b cursor-pointer hover:bg-gray-100">
										<td class="select-none w-[100px] pl-5 text-[#2C3E50] font-semibold font-poppins text-xl">@employee.EmployeeId</td>
										<td class="select-none w-[500px] text-[#2C3E50] font-semibold font-poppins text-xl">@employee.Name</td>
										<td class="select-none w-[800px] text-[#2C3E50] font-semibold font-poppins text-xl">@employee.Email</td>
										<td class="select-none w-[150px]">
											@{
												var bgColor = "select-none w-fit px-4 py-1 rounded text-[#2C3E50] font-semibold text-center text-xl " +
												((int)employee.Role == 0 ? "bg-[#76b5c5]" :
												(int)employee.Role == 1 ? "bg-[#76b5c5b2]" : "bg-[#76b5c556]");
											}

											<div class="@bgColor">
												@employee.Role
											</div>
										</td>
										<td class="w-[90px] py-3 pl-6">
											@if (employee.IsActive)
											{
												<div class=" w-[25px] h-[25px] rounded-full bg-[#4CAF50]"></div>
											}
											else
											{
												<div class="w-[25px] h-[25px] rounded-full border-[#76b5c5] border-4"></div>
											}
										</td>
									</tr>
								}
								else
								{
									<tr class="border-b">
										<td class="select-none w-[100px] pl-5 text-[#2C3E50] font-semibold font-poppins text-xl">@employee.EmployeeId</td>
										<td class="select-none w-[500px] text-[#2C3E50] font-semibold font-poppins text-xl">@employee.Name</td>
										<td class="select-none w-[800px] text-[#2C3E50] font-semibold font-poppins text-xl">@employee.Email</td>
										<td class="select-none w-[150px]">
											@{
												var bgColor = "select-none w-fit px-4 py-1 rounded text-[#2C3E50] font-semibold text-center text-xl " +
												((int)employee.Role == 0 ? "bg-[#76b5c5]" :
												(int)employee.Role == 1 ? "bg-[#76b5c5b2]" : "bg-[#76b5c556]");
											}

											<div class="@bgColor">
												@employee.Role
											</div>
										</td>
										<td class="w-[90px] py-3 pl-6">
											@if (employee.IsActive)
											{
												<div class=" w-[25px] h-[25px] rounded-full bg-[#4CAF50]"></div>
											}
											else
											{
												<div class="w-[25px] h-[25px] rounded-full border-[#76b5c5] border-4"></div>
											}
										</td>
									</tr>
								}
							}
						}
						else
						{
							<tr><td colspan="5" class="text-[#2C3E50] text-2xl font-semibold font-poppins">No data available.</td></tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>